<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".UserApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UsersApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.example.mylib.MyLibReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="MyAction" />
            </intent-filter>
        </receiver>
        <provider android:authorities="com.example.mylib.MyLibProvider"
            android:name="com.example.mylib.MyLibProvider">
        </provider>
        <provider
            android:name="com.vk.usersapp.startup.StartupInitializer"
            android:authorities="${applicationId}.startup"
            android:exported="false" />

    </application>

</manifest>